#Logo{
	height:200px;
	width:20%;
	background-color:#581845;
	top:0px;
	position:absolute;
	left:0px;
	border:#900C3F solid 2px;
	background-image:url("image/logo123.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
	
#Banner{
	height:200px;
	width:80%;
	background-color:#C70039;
	top:0px;
	position:absolute;
	left:20%;
	border:#900C3F solid 2px;
	background-image:url("image/boader.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	}
#Banner p{
	font-size:40px;
	color:#17202A;
	font-weight:bold;
	}
#Banner pre{
	font-size:20px;
	color:#17202A;
	}


#Menu{
	height:50px;
	width:100%;
	background-color:#900C3F;
	top:200px;
	position:absolute;
	left:0px;
	border:#900C3F solid 2px;
	}
#Leftsidebar{
    height:600px;
	width:20%;
	background-color:#C7CAC6;
	top:250px;
	position:absolute;
	left:0px;
	border:#900C3F solid 2px;
	padding:0px;
	list-style-type:none;
	margin:0;
	}
#Leftsidebar li{
	line-height:40px;
	border-bottom:2px solid #900C3F;
	text-align:center;
	background-color:black;
	}
#Leftsidebar li a{
	color:white;
	text-decoration:none;
	padding:10px 20px;
	font-weight:bold;
	}
#Leftsidebar li a:hover{
	background:orange;
	
	}
#Container1{
	height:300px;
	width:30%;
	background-color:#C70039;
	top:250px;
	position:absolute;
	left:20%;
	border:#900C3F solid 2px;
	background-image:url("image/jeans1.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:#FFDC00;
	}
#Container1 p{
	background-color:black;
	width:120px;
	}
#Container2{
	height:300px;
	width:30%;
	background-color:#C70039;
	top:250px;
	position:absolute;
	left:50%;
	border:#900C3F solid 2px;
	background-image:url("image/jeans2.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:#FFDC00;
	}
#Container2 p{
	background-color:black;
	width:120px;
	
	}
#Container3{
	height:300px;
	width:30%;
	background-color:#C70039;
	top:550px;
	position:absolute;
	left:20%;
	border:#900C3F solid 2px;
	background-image:url("image/jeans3.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:#FFDC00;
	}
#Container3 p{
	background-color:black;
	width:120px;
	}
#Container4{
	height:300px;
	width:30%;
	background-color:#C70039;
	top:550px;
	position:absolute;
	left:50%;
	border:#900C3F solid 2px;
	background-image:url("image/jeans4.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	color:#FFDC00;
	}
#Container4 p{
	background-color:black;
	width:120px;
	}
#RightSidebar{
    height:600px;
	width:20%;
	background-color:#C7CAC6;
	top:250px;
	position:absolute;
	right:0px;
	border:#900C3F solid 2px;

	}
#Footer{
	height:100px;
	width:100%;
	background-color:#383838;
	top:850px;
	position:absolute;
	left:0px;
	border:#900C3F solid 2px;
	}
#Footercontent{
	height:100px;
	width:80%;
	background-color:#000000;
	top:0px;
	position:absolute;
	left:0px;
	border:#900C3F solid 2px;
	}
#Footercontent p{
	color:white;
	text-align:center;
	}
#Footercontent a{
	color:white;
	}
#Footericon{
	height:100px;
	width:20%;
	background-color:#FF0000;
	top:0px;
	position:absolute;
	right:0px;
	border:#900C3F solid 2px;
	
	}
#Footericon p{
	margin:10%;
	}